fastapi
uvicorn
streamlit>=1.28.0
requests
librosa>=0.10.0
soundfile>=0.12.0
numpy
demucs>=4.0.2
torch>=2.0.1
torchaudio>=2.0.1
julius>=0.2.7
scipy
python-multipart
pydub
ffmpeg-python
audioread
transformers
matplotlib>=3.7.0,<3.9
Pillow>=9.0.0